/* Home.module.css */

.pageContainer {
    max-width: 1500px;
    overflow-x: hidden;
    margin: auto;
    font-family: 'Arial Black', Arial, sans-serif;
}

/* Hero Section */
.heroSection {
    background-color: #3e78ca;
    color: white;
    position: relative;
    overflow: hidden;

}

.herobtn {
    display: flex;
    justify-content: flex-end;
}
.orderButton {
    background-color: white;
    color: #2E75AE;
    border: none;
    padding: 1.2rem 2rem;
    font-weight: bold;
    border-radius: 125px;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: -8px 7px 0px 2px rgba(0, 0, 0, 1);
    position: relative;
    text-transform: uppercase;



}
.port {
    position: absolute;
    top: 10px;
    right: 35%;
    height: 150px;
    opacity: 0.8;
    z-index: 0;
    transform: scaleX(-1);
}

.greekimage {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 300px;
    opacity: 0.8;
    z-index: 0;
    transform: scaleX(-1);
}

.heroContent {
    max-width: 1400px;
    margin: 0 auto;
    padding: 6rem 1rem;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    height: 100%;
}

.heroText {
    max-width: 800px;
}

.heroTitle {
    font-size: 6.5rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 1rem;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.heroSubtitle {
    font-size: 2rem;
    font-weight: 700;
    opacity: 0.9;
}

.heroImageContainer {
    height: 600px;
    width: 450px;
    transform: rotate(5deg);
}

.heroImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 1024px) {
    .heroTitle {
        font-size: 5rem;
    }

    .heroImageContainer {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .heroTitle {
        font-size: 4rem;
    }

    .heroSubtitle {
        font-size: 1.5rem;
    }

    .heroImageContainer {
        position: relative;
        width: 100%;
        height: 300px;
        transform: none;
        margin-top: 2rem;
    }
}

/* Products Section */
.productsSection {
    background-color: #e14a9d;
    position: relative;
    overflow: hidden;
}

.greek2 {
    position: absolute;
    bottom: -20px;
    right: 10px;
    height: 450px;
    opacity: 0.8;
    z-index: 0;
    /* transform: scaleX(-1); */
}

.productsContainer {
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.productLeft {
    width: 50%;

}

.productImage {
    height: 670px;
    background-color: darkblue;
}

.productImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productRight {
    color: white;
    width: 50%;
}

.productTitle {
    font-size: 4rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.productDescription {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    opacity: 0.9;
}

.productButton {
    background-color: #3e78ca;
    color: white;
    border: none;
    padding: 1.5rem 3rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: -8px 7px 0px 2px rgba(0, 0, 0, 1);
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}


/* Restaurant Section */
.restaurantSection {
    background-color: #3e78ca;
    color: white;
    position: relative;
}

.flower {
    position: absolute;
    bottom: 50px;
    left: 30%;
    height: 180px;
    opacity: 0.8;
    z-index: 0;
    transform: rotate(-20deg);
}

.restaurantContainer {

    display: flex;

}

.restaurantContent {
    width: 50%;
    padding: 6rem 3rem;
}

.restaurantTitle {
    font-size: 5rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.restaurantDescription {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
}

.restaurantHours {
    margin-bottom: 2.5rem;
}

.restaurantHours p {
    font-size: 1.1rem;
    line-height: 1.8;
    font-style: italic;
}

.restaurantButton {

    background-color: white;
    color: #3e78ca;
    border: none;
    padding: 1.5rem 3rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: -8px 7px 0px 2px rgba(0, 0, 0, 1);
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}

.restaurantButton:hover {
    transform: scale(1.05);
}

.restaurantImage {
    height: auto;
    width: 50%;
    background-color: rgb(71, 122, 170);
}

.restaurantImage img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .restaurantTitle {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
    .restaurantContainer {
        flex-direction: column;
    }

    .restaurantTitle {
        font-size: 3rem;
    }

    .restaurantImage {
        flex: 0 0 100%;
    }
}

/* Quote Section */
.quoteSection {
    background-color: #f5f5f5;
    padding: 4rem 0;
    text-align: center;
    position: relative;
}

.leaf {
    position: absolute;
    top: 120px;
    right: 10px;
    height: 220px;
    opacity: 0.8;
    z-index: 1;
    transform: rotate(20deg);

}

/* Quote Section Styles */

.quoteSection {
    background-color: #ebf4fb;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quoteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Quote Text */
.quote {

    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #3e78ca;
    line-height: 1.1;
    margin-bottom: 0.5rem;

}

.quoteAuthor {
    font-size: 1rem;
    font-weight: 600;
    color: #73a7f0;
    margin-bottom: 2rem;
}

/* Image Styling */
.imagecontainer {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.imagecontainer img {
    width: 100%;
    max-width: 480px;
    height: 300px;
    border: 6px solid #ffffff;
    object-fit: cover;
}

/* Sisters Story */
.sistersStory {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #3e78ca;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    max-width: 1000px;
}

.sistersStory p {
    margin-bottom: 1.5rem;
}

/* Button */
.storyButton {
    background-color: #3e78ca;
    color: #ffffff;
    border: none;
    padding: 1.2rem 2.5rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: -8px 7px 0px 2px rgb(0, 0, 0);
    width: 300PX;
    margin: auto;
}


/* Responsive */
@media (max-width: 768px) {
    .quoteContainer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .imagecontainer {
        justify-content: center;
    }

    .sistersStory {
        align-items: center;
    }

    .storyButton {
        align-self: center;
    }
}


/* Marquee Banner */
.marque {
    background-color: #ffffff;
    color: rgb(32, 86, 175);
    overflow: hidden;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.marqueContent {
    display: flex;
    animation: scroll 20s linear infinite;
    white-space: nowrap;
}

.marqueContent span {
    font-size: 2rem;
    padding-right: 50px;
    display: inline-block;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Add this to ensure content appears duplicated for seamless loop */
.marqueContent span {
    animation: multiply 0.1s linear forwards;
}

@keyframes multiply {
    0% {
        content: "";
    }

    100% {
        content: attr(data-content);
    }
}

.marqueContent::before,
.marqueContent::after {
    content: "🔥 GREE'NDELICIOUS 🔥 BRING THE HEAT HOME 🔥 BBQ SAUCE COMING IN HOT 🔥 MADE FROM SCRATCH DAILY";
    padding-right: 50px;
    font-size: 2rem;
}



/* Featured In Section */
.featuredSection {
    background-color: #ffffff;
    padding: 1rem 2rem;
    text-align: center;
}

.featuredTitle {
    color: #2E75AE;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: 10px;

    font-size: 1.5rem;
    padding-right: 50px;
    display: inline-block;
    color: #2E75AE;
    text-transform: uppercase;

}

.featuredLogos {
    display: flex;

}

.cateringEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
}




.cateringEvent span {
    font-size: 1.2rem;
    padding-right: 50px;
    display: inline-block;
    color: #2E75AE;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .featuredLogos {
        grid-template-columns: repeat(2, 1fr);
    }

    .cateringEvent {
        padding: 1.5rem;
    }

    .cateringEvent i {
        font-size: 2rem;
    }

    .cateringEvent span {
        font-size: 1rem;
    }
}

/* Responsive Design */
@media (max-width: 768px) {

    .heroContainer,
    .productsContainer,
    .restaurantContainer {
        flex-direction: column;
        text-align: center;
    }

    .heroTitle {
        font-size: 3rem;
    }

    .productTitle,
    .restaurantTitle {
        font-size: 2.5rem;
    }

    .quote {
        font-size: 2rem;
    }

    .sistersImages {
        flex-direction: column;
        align-items: center;
    }

    .footerContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .newsletterForm {
        flex-direction: column;
    }

    .navLinks {
        display: none;
    }
}