/* Navigation */
.navbar {
    background-color: #3e78ca;
    padding: 1rem 0;
    position: sticky;
    top: 0;
        font-family: 'Arial Black', Arial, sans-serif;
    z-index: 100;
}

.navContainer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    max-width: 1400px;
}

.logo {
    color: white;
    font-size: 1.3rem;
    font-weight: 900;
}

.logoText {
    color: white;

}

.navLinks {
    display: flex;
    gap: 2rem;
}

.navLink {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: opacity 0.3s ease;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.navLink:hover {
    opacity: 0.8;
}

.navLink.active {
    border-bottom: 4px solid white;
}

.orderButton {
    background-color: white;
    color: #2E75AE;
    border: none;
    padding: 1.2rem 2rem;
    font-weight: bold;
    border-radius: 125px;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: -8px 7px 0px 2px rgba(0, 0, 0, 1);
    position: relative;
    text-transform: uppercase;



}

.orderButton:hover {
    transform: scale(1.05);
}